body {
  background-color: LightBlue;
}


h1,p, div, button
{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.grid-container, .columnButtons {
  display: grid;
  
  /*grid-template-columns: repeat(7, 1fr); */
  /*grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;  */
  width: 40%;
  grid-template-columns: repeat(7, auto); 
  grid-gap: 10px;
  padding: 10px;
  margin: auto;
  /* color: white; */
}

.grid-container
{
  background-color: DarkGray;
  color: DarkGray;
  grid-template-rows: repeat(6, 50px);
}

.columnButtons
{
  background-color: BurlyWood;
  grid-template-rows: 30px;
}

.columnButtons > button {
  border: 0;
  text-align: center;
  background-color: Moccasin;
  color: Moccasin;
  /*margin: auto; */
}

.grid-container > div {
  /*background-color: white; */
  border: 0;
  text-align: center;
  /* margin: auto; */
  /* font-size: 30px; */
}

#player1Score
{
  background-color:red;
}

#player2Score
{
  background-color:blue;
}



.scoreBoard, .gameContainer
{
    display: grid;
    width: 40%;
    grid-template-columns: auto auto;
    margin: auto;
    /*
    grid gap: 10px;
    padding 10px;
    */
    margin-bottom: 1cm;
    text-align: center;
}

.scoreBoard
{
  background-color:grey;
  color: white;
}

/*
.gameContainer
{
  background-color: 
}
*/

.gameContainer 
{
    background-color: red; 
    color: white;
    /*display: grid;
    grid-template-columns: auto auto; 
    margin-bottom: 1cm;*/

    /*
    grid gap: 10px;
    padding 10px;
    */
    

}

.possibleColumn
{
  background-color: Moccasin;
  color: Moccasin;
}

.disabledColumn
{
  
  
  pointer-events: none;
  cursor: not-allowed;
  background-color: black;
  color: black;
  opacity: 0.4;
  
  /*
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  */
}

.playerOneMove
{
  background-color: red;
  color:red;
}

.playerOneWinning
{
  background-color: orange;
  color:orange;
}



.playerTwoMove
{
  background-color: blue;
  color:blue;
}

.playerTwoWinning
{
  background-color: aqua;
  color:aqua;
}



.emptySquare
{
  background-color: white;
  color: white;
}